{% extends 'web/base.html' %}
{% load static %}
{% block content %}
        
      <!--=========Banner Start============-->
      <div class="inner-pages-bnr">
         <img src="{% static 'web/images/about-banner.jpg' %}" class="img-responsive" alt="about-banner-image">
         <div class="banner-caption">
            <h1>About Us</h1>
            <ul class="breadcumb">
               <li><a href="#">Home</a> - </li>
               <li>About Us</li>
            </ul>
         </div>
      </div>
      <!--=========Banner end============-->
      <!--=========Why Choose Start============-->
      <section class="bestthing-section why-choose-section why-choose-section_01">
         <div class="container">
            <div class="row ">
               <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bestthing-text-column">
                  <h3>why choose us</h3>
                  <p class="fnt-17">Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. Aenean lacinia. </p>
                  <ul class="choose-list">
                     <li>Vestibulum id ligula</li>
                     <li>Mattis Fringilla Ultricies</li>
                     <li>Egestas Fermentum</li>
                     <li>Adipiscing Vulputate</li>
                     <li>Vestibulum id ligula</li>
                     <li>Mattis Fringilla Ultricies</li>
                     <li>Egestas Fermentum</li>
                     <li>Adipiscing Vulputate</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="bestthing-img whychoos-img">
            <img src="{% static 'web/images/why-choose-bg.png' %}" class="img-responsive" alt="choose-image">
         </div>
      </section>
      <!--=========Why Choose end============-->
      <!--=========Company History Start============-->
      <section class="history-section">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <h3>COMPANY HISTORY</h3>
               </div>
               <div class="col-md-3 col-sm-6 history-list text-center">
                  <span class="top-img"><img src="{% static 'web/images/humble-begin-img.png' %}" class="img-responsive" alt="humble-image"></span>
                  <div class="history-list-middle">
                     <div class="white-circle">
                        <div class="white-circle-border">
                           <div class="yellow-circle">1982</div>
                        </div>
                     </div>
                     <span class="year-circle"></span>
                  </div>
                  <h5>Humble beginnings</h5>
                  <p class="line-height26">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut maximus.</p>
               </div>
               <div class="col-md-3 col-sm-6 history-list text-center">
                  <span class="top-img"><img src="{% static 'web/images/headquarter-img.png' %}" class="img-responsive" alt="headquarter-image"></span>
                  <div class="history-list-middle">
                     <div class="white-circle">
                        <div class="white-circle-border">
                           <div class="yellow-circle">1985</div>
                        </div>
                     </div>
                     <span class="year-circle"></span>
                  </div>
                  <h5>New headquarters</h5>
                  <p class="line-height26">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut maximus.</p>
               </div>
               <div class="col-md-3 col-sm-6 history-list text-center">
                  <span class="top-img"><img src="{% static 'web/images/opening-loc-img.png' %}" class="img-responsive" alt="location-image"></span>
                  <div class="history-list-middle">
                     <div class="white-circle">
                        <div class="white-circle-border">
                           <div class="yellow-circle">2010</div>
                        </div>
                     </div>
                     <span class="year-circle"></span>
                  </div>
                  <h5>Opening 5 new locations</h5>
                  <p class="line-height26">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut maximus.</p>
               </div>
               <div class="col-md-3 col-sm-6 history-list text-center">
                  <span class="top-img"><img src="{% static 'web/images/coverage-img.png' %}" class="img-responsive" alt="worldwide-image"></span>
                  <div class="history-list-middle">
                     <div class="white-circle">
                        <div class="white-circle-border">
                           <div class="yellow-circle">2017</div>
                        </div>
                     </div>
                     <span class="year-circle"></span>
                  </div>
                  <h5>World wide coverage</h5>
                  <p class="line-height26">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut maximus.</p>
               </div>
            </div>
         </div>
      </section>
      <!--=========Company History end============-->
      <!--=========High Quality Start============-->
      <section class="hight-level-section">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <h2>In <span>quality assurance a constant effort </span> is made to enhance the quality practices in the organization.</h2>
               </div>
               <div class="col-lg-6 col-md-6 col-xs-12 col-xs-12">
                  <p class="fnt-17">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
               </div>
               <div class="col-lg-6 col-md-6 col-xs-12 col-xs-12 text-center">
                  <ul class="icon_size">
                     <li class="vision-icon"><i class="fa fa-eye"></i>Vision</li>
                     <li class="value-icon"><i class="fa fa-line-chart"></i>Values</li>
                     <li class="mission-icon"><i class="fa fa-rocket"></i> Mission</li>
                  </ul>
               </div>
            </div>
         </div>
      </section>
      <!--=========High Quality end============-->
      <!--=========Statistics Start============-->
      <section class="static-section yellow-background">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <h2><span>Important Static</span></h2>
                  <p class="fnt-18">A wonderful serenity has taken possession of my entire soul, like these sweet mornings <br/>
                     of spring which I enjoy with my whole heart. I am alone
                  </p>
               </div>
               <ul>
                  <li>
                     <h2>20000</h2>
                     <p> Customers</p>
                  </li>
                  <li>
                     <h2>1400</h2>
                     <p> Projects</p>
                  </li>
                  <li>
                     <h2>16800</h2>
                     <p> Working Hours</p>
                  </li>
                  <li>
                     <h2>17000</h2>
                     <p> SKUs</p>
                  </li>
               </ul>
            </div>
         </div>
      </section>
      <!--=========Statistics end============-->
      <!--=========Experience Team Start============-->
      <section class="experiecnce-section">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <h3>EXPERIENCED TEAM</h3>
               </div>
               <div class="col-md-4 col-sm-4 experience-team ">
                  <a href="team.html" class="enitre_mouse">
                     <div class="shadow_effect effect-apollo"> <img src="{% static 'web/images/team-img1.jpg' %}" class="img-responsive" alt="team-image"> </div>
                  </a>
                  <h5>John Leader</h5>
                  <span class="designation">CEO and founder of Industrial ltd.</span>
                  <hr>
                  <p class="line-height26 fnt-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis lacinia enim vel blandit. In placerat, ex nec.</p>
               </div>
               <div class="col-md-4 col-sm-4 experience-team ">
                  <a href="team.html" class="enitre_mouse">
                     <div class="shadow_effect effect-apollo"> <img src="{% static 'web/images/team-img2.jpg' %}" class="img-responsive" alt="team-image"> </div>
                  </a>
                  <h5>Steve Chemici</h5>
                  <span class="designation">Material engineer</span>
                  <hr>
                  <p class="line-height26 fnt-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis lacinia enim vel blandit. In placerat, ex nec.</p>
               </div>
               <div class="col-md-4 col-sm-4 experience-team ">
                  <a href="team.html" class="enitre_mouse">
                     <div class="shadow_effect effect-apollo"> <img src="{% static 'web/images/team-img3.jpg' %}" class="img-responsive" alt="team-image"> </div>
                  </a>
                  <h5>Mark Teran</h5>
                  <span class="designation">Senior industry expert</span>
                  <hr>
                  <p class="line-height26 fnt-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis lacinia enim vel blandit. In placerat, ex nec.</p>
               </div>
            </div>
         </div>
      </section>
      <!--=========Experience Team end============-->
  {% endblock %}