
{% extends 'web/base.html' %}
{% load static %}
{% block content %}
        
      <!--=========Banner Start============-->
      <div class="inner-pages-bnr">
         <img src="{% static 'web/images/service-banner.jpg' %}" class="img-responsive" alt="Service-banner-image">
         <div class="banner-caption">
            <h1>Services</h1>
            <ul class="breadcumb">
               <li><a href="#">Home</a> - </li>
               <li>Services</li>
            </ul>
         </div>
      </div>
      <!--=========Banner end============-->
      <!--=========Services Start============-->
      <section class="pad100-50-top-bottom">
         <div class="container">
            <div class="row ">
               <div class="head-section service-head other-heading">
                  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                     <h3>OUR services</h3>
                  </div>
                  <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
                     <p class="fnt-18">Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. Aenean lacinia. Donec ullamcorper nulla non metus auctor fringilla.</p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-4 col-xs-12 marbtm50 service-list-column">
                  <a href="manufacturing.html">
                     <span class="image_hover"> <img src="{% static 'web/images/home2-images/home2-manufacturing-img.jpg' %}" class="img-responsive zoom_img_effect" alt="Manufacture-image"></span>
                     <div class="service-heading service-manufactureicon">
                        <h5>MANUFACTURING</h5>
                        <span class="read-more-link">Read More</span>
                     </div>
                  </a>
               </div>
               <div class="col-md-4 col-sm-4 col-xs-12 marbtm50 service-list-column">
                  <a href="cnc-industry.html">
                     <span class="image_hover"> <img src="{% static 'web/images/home2-images/home2-cncindustry-img.jpg' %}" class="img-responsive zoom_img_effect" alt="CNC-image"></span>
                     <div class="service-heading service-cncicon">
                        <h5>CNC INDUSTRY</h5>
                        <span class="read-more-link">Read More</span>
                     </div>
                  </a>
               </div>
               <div class="col-md-4 col-sm-4 col-xs-12 marbtm50 service-list-column">
                  <a href="chemical-industry.html">
                     <span class="image_hover"><img src="{% static 'web/images/home2-images/home2-chemicalindustry-img.jpg' %}" class="img-responsive zoom_img_effect" alt="Chemical-image"></span>
                     <div class="service-heading service-chemicalicon">
                        <h5>CHEMICAL INDUSTRY</h5>
                        <span class="read-more-link">Read More</span>
                     </div>
                  </a>
               </div>
               <div class="col-md-4 col-sm-4 col-xs-12 marbtm50 service-list-column">
                  <a href="energy-engineering.html">
                     <span class="image_hover"> <img src="{% static 'web/images/home2-images/home2-energyengineering-img.jpg' %}" class="img-responsive zoom_img_effect" alt="Energy-image"></span>
                     <div class="service-heading service-energyicon">
                        <h5>ENERGY ENGINEERING</h5>
                        <span class="read-more-link">Read More</span>
                     </div>
                  </a>
               </div>
               <div class="col-md-4 col-sm-4 col-xs-12 marbtm50 service-list-column">
                  <a href="oil-industry.html">
                     <span class="image_hover"><img src="{% static 'web/images/home2-images/home2-oilindustry-img.jpg' %}" class="img-responsive zoom_img_effect" alt="Oil-image">
                     </span>
                     <div class="service-heading service-oilicon">
                        <h5>OIL INDUSTRY</h5>
                        <span class="read-more-link">Read More</span>
                     </div>
                  </a>
               </div>
               <div class="col-md-4 col-sm-4 col-xs-12 marbtm50 service-list-column">
                  <a href="material-engineering.html">
                     <span class="image_hover"><img src="{% static 'web/images/home2-images/home2-materialengineering-img.jpg' %}" class="img-responsive zoom_img_effect" alt="Material-image"></span>
                     <div class="service-heading service-materialicon">
                        <h5>MATERIAL ENGINEERING</h5>
                        <span class="read-more-link">Read More</span>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </section>
      <!--=========Services end============-->
    {% endblock %}