{% load static %}

<!--=========Footer Start============-->
<footer>
   <div class="yellow-background solution-available text-center">
      <div class="container">
         <h5>For Any Solution We Are <span>Available</span> For You</h5>
         <a data-animation="animated fadeInUp" class="header-requestbtn contactus-btn hvr-bounce-to-right"
            href="contact.html">Contact us</a>
      </div>
   </div>
   <div class="ftr-section">
      <div class="container">
         <ul class="footer-info">
            <li class="ftr-loc">121 Maxwell Farm Road,<br /> Washington DC, USA</li>
            <li class="ftr-phn">+1 (123) 456-7890</li>
            <li class="ftr-msg">info@indofact.com</li>
            <li class="ftr-support">9 To 5 Working Hours</li>
         </ul>
         <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12">
               <h6>About Us</h6>
               <p class="marbtm20 line-height26">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor ut et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
               </p>
               <!-- <a class="ftr-read-more" href="about.html">Read More</a> -->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12 link-pad">
               <h6>Quick Links</h6>
               <ul class="footer-link">
                  <li><a href="about.html">- Home</a></li>
                  <li><a href="blog.html">- About Us</a></li>
                  <li><a href="testimonials.html">- Services</a></li>
                  <li><a href="request-quote.html">- Gallery</a></li>
                  <li><a href="faq.html">- Updates</a></li>
                  <li><a href="contact.html">- Contact Us</a></li>
               </ul>
            </div>
           
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12">
               <h6>Follow Us</h6>
               <div class="header-socials footer-socials">
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
               </div>
               <span class="ftr-logo img"><img src="{% static 'web/images/logo web.svg' %}" style="width: 70%;"
                     class="img-responsive" alt="logo-image"></span>
            </div>





            {% comment %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-12 ">
               <h6>About Us</h6>
               <p class="marbtm20 line-height26">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor ut et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
               </p>
               <a class="ftr-read-more" href="about.html">Read More</a>
            </div>


            <div class="col-md-3 col-sm-6 col-xs-12 col-12 ">
               <h6>Our Solutions</h6>
               <ul class="footer-link">
                  <li><a href="manufacturing.html">- Manufacturing</a></li>
                  <li><a href="cnc-industry.html">- CNC Industry</a></li>
                  <li><a href="chemical-industry.html">- Chemical Industry</a></li>
                  <li><a href="energy-engineering.html">- Energy Engineering</a></li>
                  <li><a href="oil-industry.html">- Oil Industry</a></li>
                  <li><a href="material-engineering.html">- Material Engineering</a></li>
               </ul>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-12 ">
               <h6>Quick Links</h6>
               <ul class="footer-link">
                  <li><a href="about.html">- About Us</a></li>
                  <li><a href="blog.html">- News</a></li>
                  <li><a href="testimonials.html">- Testimonials</a></li>
                  <li><a href="request-quote.html">- Request A Quote</a></li>
                  <li><a href="faq.html">- FAQ</a></li>
               </ul>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-12 ">
               <h6>Follow Us</h6>
               <div class="header-socials footer-socials">
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
               </div>
               <span class="ftr-logo img"><img src="{% static 'web/images/logo web.svg' %}" style="width: 70%;"
                     class="img-responsive" alt="logo-image"></span>
            </div>
            {% endcomment %}


         </div>
         <div class="footer-btm">
            <div class="col-md-12 col-sm-12 col-xs-12 pad-left_zero pad-right_zero text-center">
               <p>Copyright © 2022  Brosco. All Rights Reserved.</p>
            </div>
            <!-- <div class="col-md-4 col-sm-6 col-xs-12 pad-left_zero pad-right_zero pull-right">
               <p class="text-right">Developed by: <a
                     href="https://themeforest.net/user/themechampion">ThemeChampion</a></p>
            </div> -->
         </div>
      </div>
   </div>
</footer>
<!--=========Footer end============-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-body">
            <h3>Search</h3>
            <div class="search-form">
               <input type="text" class="search_lightbox_input" placeholder="Search...">
               <input type="text" class="search_lghtbox_btn">
            </div>
         </div>
      </div>
   </div>
</div>