{% load static %}

<!--=========header start============-->
<header class="header3">
    <div class="container">
       <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 display-block ">
             <a href="#" class="logo"><img src="{% static 'web/images/logo web.svg' %}" style="width: 60%;" class="img-responsive" alt="logo"></a>
          </div>
          <div class="col-lg-3 col-md-9 col-sm-12 col-xs-12 hdr3-right">
             <div class="header-socials"> 
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a> 
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
             </div>
             <!-- <div class="search-column">
                <button name="button" type="button" class="search-btn"  data-toggle="modal" data-target=".bs-example-modal-lg"></button>
             </div> -->
          </div>
       </div>
    </div>
    <nav id="main-navigation-wrapper" class="navbar navbar-default navbar2-wrap navbar3-wrap">
       <div class="container">
          <div class="navbar-header">
             <div class="logo-menu"><img src="{% static 'web/images/logo web.svg' %}"  alt=""></div>
             <button type="button" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          </div>
          <div class="var2-nav var3-nav">
             <div id="main-navigation" class="collapse navbar-collapse ">
                <ul class="nav navbar-nav display-design">
                   <li class="dropdown ">
                      <a href="{% url 'web:index' %}" class="{% if is_index %} active {% endif %}">Home</a><i class="fa fa-chevron-down"></i>
                      <!-- <ul class="dropdown-submenu">
                         <li><a href="index2.html">Home Page 2</a></li>
                         <li><a href="index.html">Home Page 3</a></li>
                         <li><a href="index4.html">Home Page 4</a></li>
                         <li><a href="index5.html">Home Page 5</a></li>
                         <li><a href="index6.html">Home Page 6</a></li>
                         <li><a href="index7.html">Home Page 7</a></li>
                         <li><a href="index8.html">Home Page 8</a></li>
                      </ul> -->
                   </li>
                   <li class="dropdown">
                      <a href="{% url 'web:construction' %} ">About Us</a><i class="fa fa-chevron-down"></i>
                      <!-- <ul class="dropdown-submenu">
                         <li><a href="faq.html">FAQ</a></li>
                         <li><a href="team.html">Our Team</a></li>
                         <li><a href="testimonials.html">Testimonials</a></li>
                         <li><a href="maintenance.html">Maintenance</a></li>
                         <li><a href="coming-soon.html">Coming Soon</a></li>
                         <li><a href="page-404.html">404 Page</a></li>
                      </ul> -->
                   </li>
                   <li class="dropdown">
                      <a href="{% url 'web:construction' %}" >Products</a><i class="fa fa-chevron-down"></i>
                      <!-- <ul class="dropdown-submenu">
                         <li><a href="manufacturing.html">Manufacturing</a></li>
                         <li><a href="cnc-industry.html">CNC Industry</a></li>
                         <li><a href="chemical-industry.html">Chemical Industry</a></li>
                         <li><a href="energy-engineering.html">Energy Engineering</a></li>
                         <li><a href="oil-industry.html">Oil Industry</a></li>
                         <li><a href="material-engineering.html">Material Engineering</a></li>
                      </ul> -->
                   </li>
                   <li class="dropdown">
                      <a href="{% url 'web:construction' %}" >Gallery</a><i class="fa fa-chevron-down"></i>
                      <!-- <ul class="dropdown-submenu">
                         <li><a href="portfolio-3.html">Project 3</a></li>
                         <li><a href="portfolio-4.html">Project 4</a></li>
                         <li><a href="portfolio-5.html">Project 5</a></li>
                      </ul> -->
                   </li>
                   <li class="dropdown">
                      <a href="{% url 'web:construction' %}" >Updates</a><i class="fa fa-chevron-down"></i>
                      <!-- <ul class="dropdown-submenu">
                         <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                         <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                      </ul> -->
                   </li>
                   <!-- <li class="dropdown">
                      <a href="shop.html">shop</a><i class="fa fa-chevron-down"></i>
                      <ul class="dropdown-submenu">
                         <li><a href="shop-detail.html">Shop Detail</a></li>
                         <li><a href="cart.html">Cart Page</a></li>
                         <li><a href="checkout.html">Checkout Page</a></li>
                      </ul>
                   </li> -->
                   <li><a href="{% url 'web:construction' %}" >contact us</a></li>
                </ul>
                <!-- <a class="header-requestbtn header2-requestbtn header3-requestbtn hvr-bounce-to-right" href="request-quote.html">Request A Quote</a> -->
             </div>
          </div>
       </div>
    </nav>
 </header>
 <!--=========header end============-->